body {
      
     
  
    /* background-image: url(""); */
    font-family: 'Times New Roman';
    font-size: 20px;
    font-style: normal;

    
    
  }
  label{
    background:transparent;
    color: aliceblue;
    /* background-color: rgb(43, 31, 15); */
  }

  

  section{
      background-color:rgba(55, 10, 59, 0.8);
      
        background-image:linear-gradient(rgba(55, 10, 59, 0.8),rgba(55,10,59,0.8)),url("GettyImages-909076272-5c48c8c146e0fb0001891c02.jpeg"); 
        padding: 55px; 
      background-size: 100% 100%;
    box-shadow: 0 0 40px 20px rgba(0,0,0, 26);
      width: 45%;
      margin: 40px auto;
      border-radius: 10px;
      border:5px solid rgb(0, 0, 2) ;
      box-sizing: border-box;
      backface-visibility: hidden;
      
  }

  
  article h1{
      text-align: center;
      color: wheat;
      background-color: rgba(0,0,0, 26) ;
      /* width: 30%; */
      box-sizing: content-box;
      border-radius: 12px;
      font-size: larger;
     padding-top: 10px;
     padding-bottom: 10px;
      
      
  }
  
  article label{
      margin-left: 40px;
      
  }


  
  

  div input{
      width: 35%;
    position: relative;
      padding-bottom: 5px;
      padding-top: 5px;

  vertical-align: bottom;
  position: relative;
  top: -1px;
  overflow: hidden;

       background-color: white;
       margin-left: 40px; 
       margin-bottom: 30px;
      border-style:solid;
      border-color: black;
      border-radius: 10px;
      background-size: 0%;
      background: solid white;
      border: none;
      font-size: medium;
      border-bottom: 1px rgb(55, 79, 95);
  }

  .check label{
    display: block;
    padding-right: 10px;
    padding-left: 22px;
    text-indent: -22px;
  }
.check input{
  vertical-align: middle;
}
  .check label span{
    vertical-align: middle;
  }

  button{
    color: #fff;
    size: 50px;
   border-radius: 5px;
   background: linear-gradient(45deg, #040514, #7414ac);
     font-family: 'Times New Roman', Times, serif;
     padding: 10px 30px;
     cursor: pointer;
  }